body{
    gap: 70px;
    font-size:20px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    display: grid;
    color: aliceblue;
    background: rgb(52,36,6);
background: linear-gradient(90deg, rgba(52,36,6,1) 8%, rgba(57,40,12,1) 30%, rgba(105,85,55,1) 69%, rgba(237,215,165,1) 100%);
}
img{
    border-radius: 50%;
    width: 500px;
}
.left{
    width: 300px;
    margin-left: 400px;
}
.right{
    width: 400px;
    text-align: center;
    border: solid;
    border-radius: 10%;
    border-color: rgb(171, 218, 63);
    line-height: 40px;
}
